/* body
{
    counter-reset: Count-Value;
}
table
{
    border-collapse: separate; */
/* } */
/* h1{
  color: grey;
  font-weight: bold;
}

table {
  border:1px solid black;
  margin-left: 5px;
background-color: white;
width: 1202px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

td, th {
  border: 1px solid #dddddd;
  padding: 10px;

}

.responsecolumn{

 padding-right: 296px;

} */

/* mat-select{
 text-align: center;
 border:1px solid grey;
 border-radius: 5px;
}

mat-option {
  text-overflow: unset;
 min-width: fit-content;
}

mat-horizontal-stepper{
margin-top: 0px;
width: 93%;
}

p{
  font-size: medium;
  margin-top: 15px;
  margin-right: 5px;
} */


.title{
    margin:0 auto;
    padding:10px;
    text-align:center;
    width:80%;
    margin-top: 6.5rem!important;
    }
  .title h4{
    color:#00416d;
  }
  
  
   .stepwizard-step p {
        margin-top: 10px;
    }
  
    .stepwizard-row {
        display: table-row;
    }
  
    .stepwizard {
            display: table;
            width: 95%;
            position: relative;
            margin: 0 auto;
    }
  
    .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
    }
  
    .stepwizard-row:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        z-order: 0;
  
    }
  
    .stepwizard-step {
        display: table-cell;
        position: relative;
    }
  
    .stepwizard-row:before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 85%;
            height: 1px;
            background-color: #aec2cf;
            border: 0px solid red;
            left: 30px;
    }
    .quest-content{
        width:70%;
        margin:0 auto;
        color:#00416d;
        font-size: larger;
    }
  
  
    .quest-content div{
        color:#00416d;
    }
    mat-select{
      border:1px solid #3997d6;
      height: 36px;
      border-radius: 2px;
      color: #00416D;
    }
  
    mat-option {
      text-overflow: unset;
     min-width: fit-content;
    }
  
    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
      background-color: #aec2cf;
      color: #aec2cf;
    }
    ::ng-deep .mat-horizontal-stepper-header-container{
      width: 69%;
      margin-left: 197px;
      color:rgba(34, 40, 49, 0.9);
font-weight: 300;

  
    }
  
    ::ng-deep .mat-horizontal-stepper-header .mat-step-icon::selection {
      background-color: #000;
    }
  
    /* ::ng-deep mat-step-icon-state-edit mat-step-icon :active{
      background-color: #000;
    } */
  
    /* ::ng-deep mat-step-header:focus{
      background-color: #000;
    } */
  
    /* .Active{
      background-color: #000;
    }
  
    .notActive{
      background-color: #fff;
    } */
  
  
    .accordion{width:100%; margin: 0 auto; border:1px solid #3997d6; background-color: #ffffff; margin-bottom: 30px;}
    .accordion-toggle {cursor: pointer;margin: 0;padding: 10px 0;position: relative;}
    .accordion-toggle.active:after{content:""; margin-right: 10px; position:absolute;right:0;top:17px;width:0;height:0;border-bottom:5px solid rgb(0, 0, 0);border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
    .accordion-toggle:before{content:"";margin-right: 10px; position:absolute;right:0;top:17px;width:0;height:0;border-top:5px solid #000;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);}
    .accordion-toggle.active:before{display:none;}
    .accordion-content {display: none;}
    .accordion-toggle.active {color: #1c043b;}
     .accordion-content p{ border-top: 1px solid #3997d6; padding:10px;margin: 0; color: black; }
  
  
  
     .mat-step-icon-content,
     .mat-step-header .mat-step-label,
     .mat-step-header .mat-step-optional {
         display: none;
     }
  
     /* .mat-horizontal-stepper-header  {
         padding: 0 8px 0 16px !important;
         border-top-color: rgba(37, 82, 245, 0.54) !important;
     }
  
     [ng-reflect-active="true"].mat-stepper-horizontal-line{
      border-top-color: rgba(37, 82, 245, 0.54) !important;
     } */
  
     ::ng-deep .mat-step-header .mat-step-icon-selected {
      background-color: #007BFF;
      color: #007BFF;
   }
  
     ::ng-deep .mat-select-trigger{
       margin-top: 7px;
       padding-left:10px ;
       padding-right: 10px;
     }
  
     ::ng-deep .mat-radio-label{
      font-size: medium;
      color:#00416d;
      text-emphasis: none;
      font-weight: normal;
     }
  
     .btn{
       text-transform: none;
       height: 44px;
     }
     .active:hover{
       background-color: #007BFF;
     }
  
     ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
       border-color: #007BFF;
     }
  
     ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
       background-color: #007BFF;
     }
  ::ng-deep .mat-horizontal-stepper-content{

  text-align: left;
  }
  
  input{

    

text-emphasis: padd;
  border: 1px solid #007BFF;

  }
  


  .question{

    

font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 39px;
/* or 164% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* Main / 02 */

color: #00416D;
  }

  ::ng-deep .mat-select-value {
    color: #00416D;

  }
 

  ::ng-deep .mat-select-placeholder {
 color:#00416D ;
  }