<!-- 
    <mat-toolbar  class="header" style="background-color: #9f9f9f;" >
      <mat-toolbar-row style="z-index: 302; ">

          <i class="fa fa-home mt-2" style="font-size: 30px;
          position: relative;margin-left: 4px;
          cursor: pointer;"   (click)="homepageRedirect()"></i>

      <a  class="dropdown mb-3" style="margin-left: 48px;">
        <span>
          <a  class="hoverable" style="font-size: 21px;"  >APR
          </a>
        </span>
        </a>


        <a  class="dropdown mb-3">
          <span>
            <a  class="hoverable"  style="font-size: 21px;">CSB

            </a>
          </span>
          </a>


    

    <a  class="dropdown mb-3">
      <span>
        <a  class="hoverable"  style="font-size: 21px;">Admin

        </a>
      </span>
      </a>

    <a  class="dropdown mb-3">
      <span>
        <a  class="hoverable"  style="font-size: 21px;">Dashboard

        </a>
      </span>
      </a>
  


    <div class="mb-2" style="margin-top: 21px;margin-left: 581px;">
      <img src="assets/Images/user.png" width="30px" height="30px">
    </div>

    <div class="mb-3" style="margin-top: 21px;">
      <a  class="dropdown" style="margin-left: 20px;">
        <span>
          <a  class="hoverable "  routerLink="aprcloud" style="font-size: 15px;">{{name}}
          </a>
        </span>
        </a>
      </div>
      <div class="mb-2" style="margin-top: 21px; margin-left: 20px;">
        <a href="#">
        <img src="assets/Images/logout.png" width="30px" height="30px">
      </a>
    </div>




      </mat-toolbar-row>
      </mat-toolbar> -->
