<div class="container" [formGroup]="registerForm" > 

    <h2 mat-dialog-title>User Details</h2>
    
    
    <input type="text" formControlName="firstname" placeholder="First Name"> 
    <div *ngIf="submitted &amp;&amp; registerForm.controls.firstname.errors" class="text-danger">
        <div *ngIf="registerForm.controls.firstname.errors.required">Please enter valid First Name</div>
        </div>
  
    <input type="text"  formControlName="lastname" placeholder="Last Name">
    <div *ngIf="submitted &amp;&amp; registerForm.controls.lastname.errors" class="text-danger">
      <div *ngIf="registerForm.controls.lastname.errors.required">Please enter a valid Last Name </div>
    </div>
  
    <!--Email-->
     
      <input type="email" formControlName="email" placeholder="Email Id"
      [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" required />
      <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
        <div *ngIf="registerForm.controls.email.errors.required">Please enter a valid EmailId</div>
        <div *ngIf="registerForm.controls.email.errors.pattern">Please enter a valid EmailId</div>
      </div>
  
    
      <!-- <input type="text" id="lob" formControlName="lobid">
      <option *ngFor="let user of userList"  [ngValue]="user.lobid">

       {{user.lobName}}
      </option>  -->
       <div class="form-group"> 
          <label class="ddlabel">LOB</label>
            <input  type="text" [value]="lobdname" disabled=true/>
               
      </div>      
  <!--password-->
<!--     
      <input type="password" formControlName="password" placeholder="Password"
      [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }" required />
      <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
        <div *ngIf="registerForm.controls.password.errors.required">Please enter a valid password</div>
        <div *ngIf="registerForm.controls.password.errors.pattern">Please enter a valid password</div>
      </div>
    
  

  
      <input type="password" formControlName="pswd" placeholder="Re-Enter Password"
      [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.pswd.errors }" required />
      <div *ngIf="submitted &amp;&amp; registerForm.controls.pswd.errors" class="text-danger">
        <div *ngIf="registerForm.controls.pswd.errors.required">Please enter a valid password</div>
        <div *ngIf="registerForm.controls.pswd.errors.pattern">Please enter a valid password</div>
      </div> -->
     
  <div class="form-group">
    <label  class="ddlabel">Role Type</label>
     <input  class="form-control" type="text" formControlName="UserRoleId" disabled=true/>

    
  </div> 

            <!-- <div>
              <input type="text"[(ngModel)]= "üser.RoleType" value="{{user}}" name="role" id="role" disabled>
            </div>
  
   -->
  
         <div class="mt-4 mx-auto">
          <button  class="btn btn-default mr-4"  mat-dialog-close=false >Cancel</button>
          <button type="submit" class="btn btn-primary pull right" (click)="usersetup()" >Submit and Notify</button>
         </div>
      </div>
    
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
