


<div class="container">
<div id="button1">
    <div id="img1">
    <img src="assets/Images/download.png" alt="upload" style="    margin-top: -4%;
    position: absolute;
    width: 10%;
    margin-left: 13%;"></div>
<button class="btn" (click)="uploadAppData()">Upload app data</button>
<img src="assets/Images/mapUpdated.png"alt="lobmapping" style="   margin-top: -4%;
position: absolute;
width: 10%;
margin-left: 13%;" >
<button class="btn" (click)="lobToAppMapping()">App to LOB mapping</button>

</div>
<div id="button2">
    <img src="assets/Images/survey.png" alt="survey" style="   margin-top: -4%;
position: absolute;
width: 10%;
margin-left: 13%;">
<button class="btn">Create Survey</button>
<img src="assets/Images/setup.png" alt="setup" style="   margin-top: -4%;
position: absolute;
width: 10%;
margin-left: 13%;">
<button class="btn">App to Process Mapping</button>
</div>
</div>