<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> -->


<div class="bg">
  <br>


<form class=" card p-4  mx-auto text-center border border-light " [formGroup]="loginForm" >

<p class="h3 mb-4"><img src="assets/Images/DTSL Logo_WithOutLine.png" height="70px" width="70px"></p>


<p style="
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;">Get your business on cloud</p>

<p class="undertitle">
    Cloud Migration Simplified
</p>
<br>
<br>

<!-- Name -->
<input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="E-mail" formControlName="email">

<!-- Email -->
<input type="password" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Password" formControlName="password">

<mat-radio-group aria-label="Select an option" formControlName="userOrAdmin">
  <mat-radio-button class="mr-2" value="admin">Admin</mat-radio-button>
  <mat-radio-button class="ml-2" value="user">User</mat-radio-button>
</mat-radio-group>

<div *ngIf="loginForm.get('userOrAdmin').value == 'admin'" style="width: 100%;margin-top: -30px;">
    <select class="form-control" formControlName="org"
    id="org"  style="background-color: lightgrey;margin-top: 40px;" (change)="onChangeOfDropdown($event.target.value)">
      <option value="" selected="selected"  style="color: purple;">Select Organization</option>
      <option *ngFor="let lob of lobList |dropdownLOB"  [ngValue]="{id: lob.orgId, name: lob.orgName}">
        {{lob.orgName}}
         </option>
    </select>
  </div>
<br>
<!-- Sign in button -->
<button type="button" class="btn btn-lg btn-block pr-4 w-100" (click)=login() style="background-color: #007bff;">Login</button>

<div class="mt-5" *ngIf="invalidLogin">
    <mat-error >Login Unsuccessfull</mat-error>
  </div>

<div class="row" style="padding-top: 10px; margin-bottom:90px;margin-left: 65%;" >
    <div class="forgot"> 
      <a >Forgot password?</a> 
   </div>
  </div>
<div class="row" style="padding-top: 20px;">
      <span class="title">
      <p style="font-size: .7em;
      margin-top: -92px;">
      You may not have access to this tool if your admin has not created your account. 
      To create account use the <a href="#">license portal</a> application</p></span>
</div>

</form>
<br>
<br>
</div>
