<!--<div class="container" >
  
    <a href="assets/Images/Application Survey Questions.xlsx" >
      <img src="assets/Images/down.png"  width="25" height="25"> click here to download </a>
      </div>-->

      <!-- <button type="button" style="background-color: blue;
      font-size: 22px;
      height: 41px;
      width: 192px;
      font-weight: 500;" (click)="onclick()">Upload Data</button> -->
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <nav class="navbar navbar-expand-sm bg-dark  navbar-custom fixed-top" id="main-nav">
      <div class="container">
   
       <a href="index.html" class="navbar-brand">Digital Tool Box</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link">Cloud Readiness Assessments</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link">APR</a>
            </li> -->
            <!-- Dropdown -->
   <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
          Dashboard
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown">
          Admin
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
          </ul>
        
    
        </div>
      </div>
    </nav>
      <div class="container" id="element" >
        
          <div id="chartdiv" style="width: 100%; height: 400px; background-color: #222222;" ></div>

      
      </div>
    

   
      <div class="actions">
       
    <button class="export-button" (click)='onExportClick()'>Click here to export to pdf</button>
    </div> -->
    <!-- <button mat-button (click)="openDialog()">Confirm box</button> -->
    <div class="container" >
      <div class="content-container" style="margin-top: 11px;">

        <span class="content-span full-width" style="     margin-left: 47px;">{{data.message}}</span>
      </div>
      <button mat-flat-button id="yes-button" [mat-dialog-close]="true" style="    margin-top: 22px;
      margin-left: 107px;">YES</button>&nbsp;&nbsp;
      <button mat-flat-button id="no-button"  [mat-dialog-close]="false">NO</button>
      <br><br>
     <p class=ml-5 style="color: darkred;"><strong>Note: Record will be deleted permanently</strong> </p>
    
    </div>