
.container{
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 369px;
    height: 239px;
    margin-top: 12%;
    border-color: rebeccapurple;
     
    border-width: 0.10px;
    border-style: solid;
  }
  span .font{
    
/* SemiBold / 18 */

font-family: Open Sans;

font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #00416D;
  }