.container{
      width: 869px;
    /* overflow-y: scroll; */
    /* height: auto; */
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ccc;
    margin-left: -15%;
   
}


.btn{
    margin-left: 31%;
    margin-top:1%;
}

.form-control {
    display: block;
    width: 39%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}