<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" href="./../../assets/Images/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <!-- <link rel="stylesheet" type="text/css" href="../../assets/css/002-cmrmainscreen-v10.css" /> -->
    <style>
      
    </style>
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: rgba(248, 248, 248, 1);width: 100%;">
    <input type="hidden" id="anPageName" name="page" value="001-dashboard-v10" />
    <div class="container-center-horizontal">
      <div class="x001-dashboard-v10 screen">
        <div class="scroll-are-C61RwL">
          <div class="rectangle-26-OIyKtW border-class-2"></div>
          <div class="technology-services-OIyKtW valign-text-middle border-class-1">Technology Services</div>
          <div class="business-profile-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-20px">
            Business Profile
          </div>
          <div class="x10-december-2020-OIyKtW valign-text-middle border-class-1">10 December, 2020</div>
          <div class="slk-software-OIyKtW valign-text-middle border-class-1">SLK Software</div>
          <div class="bangalore-india-OIyKtW valign-text-middle border-class-1">Bangalore, India</div>
          <img class="ellipse-18-OIyKtW" src="./../../assets/Images/ellipse-18@2x.svg" />
          <img class="mask-group-OIyKtW" src="./../../assets/Images/mask-group@2x.svg" />
          <div class="rectangle-27-OIyKtW"></div>
          <div class="rectangle-28-OIyKtW"></div>
          <div class="rectangle-29-OIyKtW border-class-2"></div>
          <div class="x85-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-regal-blue-32px">85%</div>
          <div class="x20002463-OIyKtW valign-text-middle border-class-1">2000/2463</div>
          <div class="total-progress-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-20px">
            Total Progress
          </div>
          <img class="ellipse-19-OIyKtW" src="./../../assets/Images/ellipse-19@2x.svg" />
          <img class="ellipse-20-OIyKtW" src="./../../assets/Images/ellipse-20@2x.svg" />
          <div class="main-bg-OIyKtW border-class-2"></div>
          <div class="questionnaire-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2">
            Questionnaire
          </div>
          <div class="x88-OIyKtW valign-text-middle border-class-1">88%</div>
          <div class="x3950-OIyKtW valign-text-middle border-class-1">39/50</div>
          <img class="ellipse-19-zpkeZa" src="./../../assets/Images/ellipse-19-1@2x.svg" />
          <img class="ellipse-20-zpkeZa" src="./../../assets/Images/ellipse-20-1@2x.svg" />
          <div
            class="r-lane-pla-s-progress-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2"
          >
            R Lane Planned vs Progress
          </div>
          <div class="outline-OIyKtW border-class-2"></div>
          <div class="rectangle-20-OIyKtW"></div>
          <div class="planned-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Planned
          </div>
          <div class="rectangle-20-zpkeZa"></div>
          <div class="compleated-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Compleated
          </div>
          <img class="ellipse-12-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <img class="ellipse-27-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <img class="ellipse-23-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <img class="ellipse-28-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <img class="ellipse-25-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <img class="ellipse-29-OIyKtW" src="./../../assets/Images/ellipse-12@2x.svg" />
          <div class="rehosting-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px">
            Rehosting
          </div>
          <div class="re-architecting-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-20px">
            Re-architecting
          </div>
          <div class="replatforming-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px">
            Replatforming
          </div>
          <div class="retain-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-20px">Retain</div>
          <div class="repurchasing-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px">
            Repurchasing
          </div>
          <div class="retire-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-20px">Retire</div>
          <img class="ellipse-30-OIyKtW" src="./../../assets/Images/ellipse-30@2x.svg" />
          <img class="ellipse-11-OIyKtW" src="./../../assets/Images/ellipse-11@2x.svg" />
          <img class="ellipse-24-OIyKtW" src="./../../assets/Images/ellipse-24@2x.svg" />
          <img class="ellipse-31-OIyKtW" src="./../../assets/Images/ellipse-31@2x.svg" />
          <img class="ellipse-26-OIyKtW" src="./../../assets/Images/ellipse-26@2x.svg" />
          <img class="ellipse-32-OIyKtW" src="./../../assets/Images/ellipse-32@2x.svg" />
          <div class="x100400-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-tMMyJC">100</span><span class="span2-tMMyJC">/400</span> </span>
          </div>
          <div class="x9001000-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-pPQYuE">900</span><span class="span2-pPQYuE">/1000</span> </span>
          </div>
          <div class="x105300-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-qXHTVA">105</span><span class="span2-qXHTVA">/300</span> </span>
          </div>
          <div class="x80100-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-hUSQ1J">80</span><span class="span2-hUSQ1J">/100</span> </span>
          </div>
          <div class="x402600-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-rP2Sqz">402</span><span class="span2-rP2Sqz">/600</span> </span>
          </div>
          <div class="x1004001-OIyKtW valign-text-middle border-class-1 helvetica-normal-beige-32px">
            <span> <span class="span1-09zn72">100</span><span class="span2-09zn72">/400</span> </span>
          </div>
          <div class="main-bg-zpkeZa border-class-2"></div>
          <div
            class="r-lane-rep-t-progress-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2"
          >
            R Lane Report Progress
          </div>
          <div class="x55-OIyKtW valign-text-middle border-class-1">55%</div>
          <img class="ellipse-21-OIyKtW" src="./../../assets/Images/ellipse-19-1@2x.svg" />
          <img class="ellipse-22-OIyKtW" src="./../../assets/Images/ellipse-22@2x.svg" />
          <div class="main-bg-dQS86W border-class-2"></div>
          <div class="notes-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2">Notes</div>
          <div class="rectangle-30-OIyKtW"></div>
          <div class="task-OIyKtW valign-text-middle border-class-1">Task</div>
          <div
            class="ask-for-th-e-accuired-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-18px"
          >
            Ask for the cloud data to be accuired?
          </div>
          <div class="check-box-OIyKtW"></div>
          <div
            class="get-all-th-stionnaire-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-18px"
          >
            Get all the data for the questionnaire
          </div>
          <div class="check-box-zpkeZa"></div>
          <div
            class="give-acces-fractoring-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-18px"
          >
            Give access for Refractoring
          </div>
          <div class="check-box-dQS86W"></div>
          <img class="group-74-OIyKtW" src="./../../assets/Images/group-74@2x.svg" />
          <div class="main-bg-p3m9tt border-class-2"></div>
          <div
            class="r-lane-pro-ess-status-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2"
          >
            R Lane Progress Status
          </div>
          <img class="polygon-1-OIyKtW" src="./../../assets/Images/polygon-1@2x.svg" />
          <img class="polygon-2-OIyKtW" src="./../../assets/Images/polygon-2@2x.svg" />
          <img class="polygon-3-OIyKtW" src="./../../assets/Images/polygon-3@2x.svg" />
          <img class="polygon-4-OIyKtW" src="./../../assets/Images/polygon-4@2x.svg" />
          <img class="line-14-OIyKtW" src="./../../assets/Images/line-14@2x.svg" />
          <img class="line-16-OIyKtW" src="./../../assets/Images/line-16@2x.svg" />
          <img class="line-17-OIyKtW" src="./../../assets/Images/line-17@2x.svg" />
          <div class="rehosting1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Rehosting
          </div>
          <div class="replatforming1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Replatforming
          </div>
          <div class="repurchasing1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Repurchasing
          </div>
          <div class="re-architecting1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">
            Re-architecting
          </div>
          <div class="retain1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">Retain</div>
          <div class="retire1-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-14px">Retire</div>
          <img class="vector-1-OIyKtW" src="./../../assets/Images/vector-1@2x.svg" />
          <div class="main-bg-nGmQRu border-class-2"></div>
          <div class="notifications-OIyKtW valign-text-middle border-class-1 helvetica-regular-normal-shark-24px-2">
            Notifications
          </div>
          <div class="message-OIyKtW valign-text-middle border-class-1">Message</div>
          <div class="action-OIyKtW valign-text-middle border-class-1">Action</div>
          <div class="status-OIyKtW valign-text-middle border-class-1">Status</div>
          <div class="need-more--gy-history-OIyKtW valign-text-middle border-class-1">
            Need more details on the Orical techonology history.
          </div>
          <div class="pending-OIyKtW valign-text-middle border-class-1">Pending</div>
          <div class="button-OIyKtW">
            <div class="x-button-le-h-iconh-32-DsrB9v">
              <div class="button-lable-RBJSor">
                <div class="left-frame-57Bjeg"></div>
                <div
                  class="text-goes-here-57Bjeg valign-text-middle border-class-1 helvetica-regular-normal-shark-14px"
                >
                  Answer
                </div>
                <div class="right-frame-57Bjeg"></div>
              </div>
            </div>
          </div>
          <div class="need-more--y-history1-OIyKtW valign-text-middle border-class-1">
            Need more details on the Orical techonology history.
          </div>
          <div class="answered-OIyKtW valign-text-middle border-class-1">Answered</div>
          <div class="button-zpkeZa">
            <div class="x-button-le-h-iconh-32-awQUUM">
              <div class="button-lable-MrjFtV">
                <div class="left-frame-Ddjx7a"></div>
                <div class="text-goes-here1-Ddjx7a valign-text-middle border-class-1">Answer</div>
                <div class="right-frame-Ddjx7a"></div>
              </div>
            </div>
          </div>
          <div class="need-more--y-history2-OIyKtW valign-text-middle border-class-1">
            Need more details on the Orical techonology history.
          </div>
          <div class="submitted-OIyKtW valign-text-middle border-class-1">Submitted</div>
          <div class="button-dQS86W">
            <div class="x-button-le-h-iconh-32-8BCxsU">
              <div class="button-lable-WUIKYm">
                <div class="left-frame-NT2gxi"></div>
                <div class="text-goes-here2-NT2gxi valign-text-middle border-class-1">Answer</div>
                <div class="right-frame-NT2gxi"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clip-off-C61RwL"></div>
        <div class="search-C61RwL">
          <div class="search-for-f-business-YEvs0s valign-text-middle border-class-1">Search for Line Of Business</div>
          <div class="icon-YEvs0s"><img class="vector-O0CbuS" src="./../../assets/Images/vector@2x.svg" /></div>
        </div>
        <img class="button-C61RwL" src="./../../assets/Images/button@2x.svg" />
        <nav class="navbar navbar-expand-lg navbar-custom" id="main-nav">
        <div class="main-menu-C61RwL">
          <img class="dtb-vtTZDV" src="./../../assets/Images/dtb@2x.svg" />
          <img class="union-vtTZDV" src="./../../assets/Images/union@2x.svg" />
          <div class="icon-vtTZDV"><img class="vector-CyCxN3" src="./../../assets/Images/vector-2@2x.svg" /></div>
          <div class="icon-2Pw2gj"><img class="union-JbfUAQ" src="./../../assets/Images/union-1@2x.svg" /></div>
          <div class="menu-vtTZDV">
            <div class="csb-YOE4Sl valign-text-middle border-class-1">Dashboard</div>
            <img class="line-1-YOE4Sl" src="./../../assets/Images/line-1@2x.svg" />
            <img class="pointer1-YOE4Sl" src="./../../assets/Images/pointer1@2x.svg" />
          </div>
          <div class="menu-2Pw2gj"><div class="apr-2mNSPx valign-text-middle border-class-1">APR</div></div>
          <div class="menu-h0swhS">
            <a href="002-cmrmainscreen-v10.html"
              ><div class="apr1-ZeJsYx valign-text-middle border-class-1">CSB</div></a
            >
          </div>
          <div class="menu-uyWxRz"><div class="apr2-yEgLm7 valign-text-middle border-class-1">Admin</div></div>
        </div>
    </nav>
      </div>
    </div>
  </body>
</html>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="main-nav">
    <div class="container">
      <a href="index.html" class="navbar-brand">LoopLAB</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#explore-head-section" class="nav-link">Explore</a>
          </li>
          <li class="nav-item">
            <a href="#create-head-section" class="nav-link">Create</a>
          </li>
          <li class="nav-item">
            <a href="#share-head-section" class="nav-link">Share</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
