

<div class="container">
  <form style="margin-left: 38%;margin-top:2%" [formGroup]="registerForm" (ngSubmit)="lobsetup()">


      <i class="fa fa-university" aria-hidden="true"><div id="label">Select Organization</div></i>
    <div class="md-form">


        <select class="form-control" formControlName="org" id="org" (change)="onChangeOfDropdown($event.target.value)">
          <option value="" selected="selected" style="color: purple;">Select</option>
          <option *ngFor="let lob of lobList |dropdownLOB"  [ngValue]="lob.orgName">

            {{lob.orgName}}


             </option>
        </select>


        <!--<select name="selectedQuantity" id="aantal" formControlName="org" class="form-control" [(ngModel)]="selectedQuantity"  (change)="onChangeOfDropdown($event.target.value)" style="margin-left: 144%;
margin-top: -9%;
width: 69%;">
<option value="" selected="selected">--Select--</option>
  <option *ngFor="let option of options" [value]="option" >{{option}}</option>
</select>-->


        <div class="example-button-row">
          <button  class="btn btn-primary btn-xs  btn-block"
          (click)="select()" style="     margin-right: 2%;
          margin-top: 18%;
          ">Select</button>
          <button class="btn btn-primary btn-xs  btn-block" style="margin-right: -31%;
          margin-top: 18%;" (click)="addDropdown()">New</button>

          </div>
      </div>


    <div *ngIf=textBox>
      <input type="text" formControlName="org">
      <button (click)="addOrg(org)">Add Organization</button>
      </div>




      <!--<div class="md-form">
        <label for="orgtype">LOB Name<span style="color: #ff0000">*</span></label>
        <input type="text" class="form-control" id="lobname"  formControlName="lobname" placeholder="lobname"/>
        <div *ngIf="submitted &amp;&amp; registerForm.controls.lobname.errors" class="text-danger">
          <div *ngIf="registerForm.controls.lobname.errors.required">Please enter valid Name</div>
        </div>
      </div>



        <div class="md-form">
          <label for="inputAddress">LOB Manager<span style="color: #ff0000">*</span></label>
          <input type="text" class="form-control" id="lobmanager" formControlName="lobmanager"

          [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.lobmanager.errors }" required />
          <div *ngIf="submitted &amp;&amp; registerForm.controls.lobmanager.errors" class="text-danger">
            <div *ngIf="registerForm.controls.lobmanager.errors.required">Please enter a valid Name </div>
          </div>
        </div>





        <button type="submit" class="btn btn-primary-xs" style="margin-left: 89%;">Submit</button>-->
        </form>
      </div>
