.container{
    border-radius: 25px;
    background: rgb(252, 252, 252);
    padding: 20px;
    width: 500px;
    /* height: 400px; */
    margin-top: 12%;
    border-color: rebeccapurple;
     margin-top: 11px;
    border-width: 0.10px;
    border-style: solid;
  }
  