.content{padding: 2%;
    background-color: rgb(240, 240, 240);
    padding-bottom: 60%;
}
.dropdown{
    margin-top:13%;
    margin-left:25%;
}
.mat-drawer-content {
    position: relative;
   z-index: 1;
   display: block;
   height: 100%;
   /* overflow-y: auto !important; */
   /* overflow-x: hidden !important; */
   width: 106%;
}