<app-header></app-header>
<div class="row" style="margin-top: 99px ;">
  <div class="col-sm-8">
    <h5
      style="  
        margin-top: 10px;
        margin-left: 27px;
        font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    
    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' on, 'lnum' on;   
    color: #00253D;
        
      "
    >
    Move Group Management
    </h5>
  </div>


</div>

<button
        (click)="createGroup()"
        type="button"
        class="btn btn-outline-secondary px-4"
        style="
          background: #0C59E9;
          margin-left: 1141px;
          margin-top: -116px;
        "
      >
        <i
          style="padding-right: 10px"
          class="fas fa-plus"
          aria-hidden="true"
        ></i>
        Create Group
      </button>